<a href="https://colab.research.google.com/github/avni19/ML-DataCleaning-Basic/blob/master/Uber_Rides_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [7]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
df = pd.read_excel("/content/drive/My Drive/Uber price prediction.xlsx")

In [15]:
df.head()

   Priceperweek  Population  ...  Numberofweeklyriders  Unnamed: 5
0           NaN          15  ...                    50      192000
1           NaN          15  ...                    50      190400
2           NaN          15  ...                    60      191200
3           NaN          25  ...                    60      177600
4           NaN          25  ...                    60      176800

[5 rows x 6 columns]

In [17]:
df_x = df.iloc[:,0:-1].values 
df_y = df.iloc[:,-1].values

In [18]:
df_x

array([[       nan, 1.5000e+01, 1.8000e+06, 5.8000e+03, 5.0000e+01],
       [       nan, 1.5000e+01, 1.7900e+06, 6.2000e+03, 5.0000e+01],
       [       nan, 1.5000e+01, 1.7800e+06, 6.4000e+03, 6.0000e+01],
       [       nan, 2.5000e+01, 1.7780e+06, 6.5000e+03, 6.0000e+01],
       [       nan, 2.5000e+01, 1.7500e+06, 6.5500e+03, 6.0000e+01],
       [       nan, 2.5000e+01, 1.7400e+06, 6.5800e+03, 7.0000e+01],
       [       nan, 2.5000e+01, 1.7250e+06, 8.2000e+03, 7.5000e+01],
       [       nan, 3.0000e+01, 1.7250e+06, 8.6000e+03, 7.5000e+01],
       [       nan, 3.0000e+01, 1.7200e+06, 8.8000e+03, 7.5000e+01],
       [       nan, 3.0000e+01, 1.7050e+06, 9.2000e+03, 8.0000e+01],
       [       nan, 3.0000e+01, 1.7100e+06, 9.6300e+03, 8.0000e+01],
       [       nan, 4.0000e+01, 1.7000e+06, 1.0570e+04, 8.0000e+01],
       [       nan, 4.0000e+01, 1.6950e+06, 1.1330e+04, 8.5000e+01],
       [       nan, 4.0000e+01, 1.6950e+06, 1.1600e+04, 1.0000e+02],
       [       nan, 4.0000e+01, 1.6900e+06, 1.1800e+04, 1.0500e+02],
       [       nan, 4.0000e+01, 1.6300e+06, 1.1830e+04, 1.0500e+02],
       [       nan, 6.5000e+01, 1.6400e+06, 1.2650e+04, 1.0500e+02],
       [       nan, 1.0200e+02, 1.6350e+06, 1.3000e+04, 1.1000e+02],
       [       nan, 7.5000e+01, 1.6300e+06, 1.3224e+04, 1.2500e+02],
       [       nan, 7.5000e+01, 1.6200e+06, 1.3766e+04, 1.3000e+02],
       [       nan, 7.5000e+01, 1.6150e+06, 1.4010e+04, 1.5000e+02],
       [       nan, 8.0000e+01, 1.6050e+06, 1.4468e+04, 1.5500e+02],
       [       nan, 8.6000e+01, 1.5900e+06, 1.5000e+04, 1.6500e+02],
       [       nan, 9.8000e+01, 1.5950e+06, 1.5200e+04, 1.7500e+02],
       [       nan, 8.7000e+01, 1.5900e+06, 1.5600e+04, 1.7500e+02],
       [       nan, 7.7000e+01, 1.6000e+06, 1.6000e+04, 1.9000e+02],
       [       nan, 6.3000e+01, 1.6100e+06, 1.6200e+04, 2.0000e+02]])

In [27]:
df_y
df.head()

   Priceperweek  Population  ...  Numberofweeklyriders  Unnamed: 5
0           NaN          15  ...                    50      192000
1           NaN          15  ...                    50      190400
2           NaN          15  ...                    60      191200
3           NaN          25  ...                    60      177600
4           NaN          25  ...                    60      176800

[5 rows x 6 columns]

In [28]:
df.isnull().sum()

Priceperweek              27
Population                 0
Monthlyincome              0
Averageparkingpermonth     0
Numberofweeklyriders       0
Unnamed: 5                 0
dtype: int64

In [36]:
df2 = df.dropna(axis = 1, how ='any')
df2.head()

   Population  Monthlyincome  ...  Numberofweeklyriders  Unnamed: 5
0          15        1800000  ...                    50      192000
1          15        1790000  ...                    50      190400
2          15        1780000  ...                    60      191200
3          25        1778000  ...                    60      177600
4          25        1750000  ...                    60      176800

[5 rows x 5 columns]

In [39]:
df2_x = df2.iloc[:,0:-1].values 
df2_y = df2.iloc[:,-1].values

In [43]:
X_train,  X_test,  y_train,  y_test = train_test_split(df2_x, df2_y,  test_size = 0.3, random_state = 0   )
# Splitting the data into training and testing data 
regr = LinearRegression() 
regr.fit(X_train, y_train) 
print("training sccore", regr.score(X_train, y_train))
print("Test sccore", regr.score(X_test, y_test))

training sccore 0.9428364724316813
Test sccore 0.9157379222488221

In [44]:
pickle.dump(regr, open('taxi.pkl',  'wb'))

In [53]:
model = pickle.load(open('taxi.pkl', 'rb'))
print(model.predict( [ [ 177, 10000, 5000, 50 ]]))

[-135044.14495355]